@media (max-width: 1125px) {
	.secondtext {
		max-width:880px;
		width: 100%;
	}
	.wrap-description {
		max-width: 470px;
		width: 100%;
	}
	.maincontainer2 {
		margin-top: 100px;
	}
	.container2 {
		max-width: 780px;
		width: 100%;
	}
	.project-title1 {
		font-size: 20px;
	}
	.project-place1-home {
		font-size: 18px;
	}
	.project-p1-home {
		font-size: 15px;
		max-width: 300px;
		width: 100%;
	}
	.project-title1 {
		max-width: 170px;
		width: 100%;
	}
	.maindiv3 {
		max-width: 880px;
		width: 100%;
		margin: 0 auto; 
	}
	.myheader {
		background-size: contain;
		height: 535px;
	}
	.horisontallogo {
		max-width: 150px;
		width: 100%;
	}
	.yourmaildiv {
		max-width: 870px;
		width: 100%;
	}



	/*projects*/
	.myheader3 {
		background-size: contain;
	}	
	.about-title {
		font-size: 45px;
		padding-top: 240px;
	}




	/*blog*/
	.myheader4 {
		background-size: contain;
	}
	.twinsvideo {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		margin-left: 100px;
	}
	.blog-image1 {
		max-width: 450px;
		width: 100%;
	}
	.blog-image2 {
		max-width: 456px;
		width: 100%;
		border-radius: 64px;
		margin-left: 45px;
	}
}

@media (max-width: 1067px) {
	.blog-image1 {
		max-width: 390px;
		width: 100%;
	}
	.blog-image2 {
		max-width: 390px;
		width: 100%;
		border-radius: 64px;
		margin-left: 45px;
	}
	.firstblog {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 1024px) {
	.title {
		font-size: 50px;
	}
	.wrap-description {
		max-width: 400px;
		width: 100%;
	}
	.homedescription {
		font-size: 15px;
	}
	.about-projects {
		padding-top: 50px;
	}
	.footer-icons {
		max-width: 200px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 900px;
		width: 100%;
	}
	.myheader {
		background-size: contain;
		height: 500px;
	}
	.maincontainer2 {
		margin-top: 100px;
	}



	/*projects*/	
	.about-title {
		font-size: 45px;
		padding-top: 200px;
	}
	.container2 {
		padding-top: 0px;
	}



	/*blog*/
	.twinsvideo {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		margin-left: 120px;
	}




	/*About Us*/
	.wraper-about {
		max-width: 970px;
		width: 100%;
	}
	.We {
	 font-size: 30px;
	}
}


@media (max-width: 960px) {
	.wrap-description {
		max-width: 380px;
		width: 100%;
	}
	.homedescription {
		font-size: 14px;
	}
	.about {
		max-width: 300px;
		width: 100%;
		font-size: 50px;
	}
	.secondtext {
		max-width: 690px;
		width: 100%;
	}
	.container2 {
		max-width: 650px;
		width: 100%;
	}
	.project-title1 {
		font-size: 20px;
	}
	.project-place1-home {
		font-size: 18px;
	}
	.project-p1-home {
		font-size: 15px;
		max-width: 300px;
		width: 100%;
	}
	.project-title1 {
		max-width: 170px;
		width: 100%;
	}
	.second-title {
		font-size: 20px;
	}
	.check-p-1 {
		font-size: 12px;
	}
	.myheader {
		background-size: contain;
	}
	.secondtext {
		margin-top: 30px;
	}
	.yourmaildiv {
		max-width: 700px;
		width: 100%;
	}
	.footer-p1 {
		max-width: 200px;
		width: 100%;
	}
	.footer-divs {
		max-width: 870px;
		width: 100%;
		margin: 0 auto;
	}
	.maindiv3 {
		max-width: 700px;
		width: 100%;
	}


	/*Projects*/
	.projects-container {
		max-width: 356px;
		width: 100%;
	}



	/*blog*/
	.twinsvideo {
		max-width: 780px;
		width: 100%;
		margin: 0 auto;
		margin-left: 90px;
	}
	.firstblog {
		max-width: 750px;
		width: 100%;
	}
}


@media (max-width: 900px) {
	.wrap-description {
		max-width: 350px;
		width: 100%;
	}
	.homedescription {
		font-size: 13px;
	}
	.firsttext {
		padding-top: 100px;
	}
	.about {
		font-size: 50px;
	}
	.wraper-icons {
		max-width: 800px;
		width: 100%;
	}
	.myheader {
		background-size: contain;
	}
	.horisontallogo {
		display: none;
	}
	.emailinputs {
		margin: 0 auto;
		max-width: 700px;
		width: 100%;
	}
	.footer-title {
		font-size: 23px;
	}
	.footer-p1,
	.footer-p {
		font-size: 18px;
	}
	.footer-divs {
		max-width: 750px;
		width: 100%;
	}





	/*Projects*/
	.about-title {
		padding-top: 170px;
	}
	.myheader3 {
		height: 600px;
	}


	/*blog*/
	.myheader4 {
		height: 600px;
	}
	.twinsvideo {
		max-width: 770px;
		width: 100%;
		margin: 0 auto;
		margin-left: 50px;
	}
	.firstblog {
		max-width: 750px;
		width: 100%;
	}
}


@media (max-width: 840px) {
	.wrap-description {
		max-width: 280px;
		width: 100%;
	}
	.homedescription {
		font-size: 15px;
	}
	.firsttext {
		padding-top: 80px;
	}
	.secondtext {
		max-width: 580px;
		width: 100%;
	}
	.container2 {
		max-width: 600px;
		width: 100%;
	}
	.myheader {
		background-size: contain;
	}
	.myheader3 {
		height: 500px;
	}
	.navigation {
		display: none;
	}
	.bar-icon {
		display: block!important;
	}
	.container {
		max-width: 840px;
		width: 100%;
	}
	.navigation.open-menu {
		display: block;
	}
	.logonav {
		display: block;
	}
	.wraper-ul {
		display: block;
		text-align: center;
	}
	li {
		margin-left: 0px;
		padding: 5px;
	}


	/*Projects*/
	.projects-container {
		max-width: 356px;
		width: 100%;
	}
	.about-title {
		padding-top: 180px;
		font-size: 40px; 
	}


	/*blog*/
	.myheader4 {
		height: 600px;
	}
	.twinsvideo {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		margin-left: 90px;
	}
	.firstblog {
		max-width: 750px;
		width: 100%;
	}
}


@media (max-width: 828px) {
	.title {
		font-size: 40px;
	}
	.blog-img1 {
		max-width: 
	}
	.blogimg-home {
		max-width: 300px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 760px;
		width: 100%;
	}
	.footer-p {
		font-size: 16px;
	}
	.footer-p1 {
		font-size: 16px;
	}
	.footer-title {
		font-size: 22px;
	}


	/*blog*/
	.myheader4 {
		height: 600px;
	}
	.twinsvideo {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		margin-left: 90px;
	}
	.blog-1 {
		flex-wrap: wrap;
	}
	.blog-text {
		margin-top: 20px;
	}
	.firstblog {
		max-width: 600px;
		width: 100%;
	}
	.blog-image2 {
		margin-left: 0px;
		margin-top: 20px;
	}
}



@media (max-width: 760px) {
	.twinsvideo {
		max-width: 680px;
		width: 100%;
		margin: 0 auto;
		margin-left: 20px;
	}
}

@media (max-width: 720px) {
	.myheader {
		height: 200px;
	}
	.logo {
		max-width: 80px;
		width: 100%;
	}
	.bar-icon {
		font-size: 20px;
	}
	.title {
		font-size: 30px;
	}
	.homedescription {
		font-size: 13px;
	}
	.wrap-description {
		max-width: 220px;
		width: 100%;
		margin-top: 20px;
	}
	.title {
		margin-top: 60px;
	}
	.firsttext {
		padding-left: 100px;
	}
	.about {
		font-size: 40px;
		max-width: 200px;
		width: 100%;
	}
	.secondtext {
		max-width: 490px;
		width: 100%;
	}
	.about-projects {
		font-size: 40px;
		padding-top: 20px;
	}
	#icon {
		font-size: 90px;
	}
	.all-projects {
		flex-direction: column;
	}
	.wraper-project1 {
		margin-top: 40px;
	}
	.buttondiv {
		top: 97%;
	}
	.section3 {
		padding-top: 100px;
	}
	.check-p-1 {
		max-width: 180px;
		width: 100%;
	}
	.blog-title {
		font-size: 22px;
	}
	.blog-p {
		font-size: 14px;
	}
	.footer-p, 
	.footer-p1 {
		font-size: 13px;
		max-width: 140px;
		width: 100%;
	}
	.footer-title {
		font-size: 20px;
	}
	.footer-icons {
		max-width: 160px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 670px;
		width: 100%;
	}
	.myheader {
		height: 400px;
	}
	.container2 {
		max-width: 400px;
		width: 100%;
	}
	.horisontallogo {
		display: none;
	}
	.emailinputs {
		margin: 0 auto;
		max-width: 550px;
		width: 100%;
	}
	.youremail {
		max-width: 350px;
		width: 100%;
	}
	.footer-divs {
		max-width: 550px;
		width: 100%;
	}
	.footer-logo {
		max-width: 160px;
		width: 100%;
		max-width: 120px;
	}
	.wraper-icons {
		max-width: 550px;
		width: 100%;
		margin: 0 auto;
	}



	/*Projects*/
	.about-title {
		padding-top: 180px;
		font-size: 40px; 
	}
	.myheader3 {
		height: 400px;
	}


	/*blog*/
	.myheader4 {
		height: 450px;
	}
	.about-title {
		padding-left: 90px;
	}
	.twinsvideo {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		margin-left: 90px;
	}
	.blog-1 {
		flex-wrap: wrap;
	}
	.blog-text {
		margin-top: 20px;
	}
	.firstblog {
		max-width: 600px;
		width: 100%;
	}
	.blog-image2 {
		margin-left: 0px;
		margin-top: 20px;
	}
}


@media (max-width: 609px) {
	.twinsvideo {
		max-width: 450px;
		height: 450px;
		width: 100%;
		margin: 0 auto;
		margin-left: 90px;
	}
}




@media (max-width: 585px) {
	.wrap-description {
		max-width: 200px;
		width: 100%;
	}
	.homedescription {
		font-size: 12px;
	}
	.firsttext {
		padding-left: 70px;
		padding-top: 50px;
	}	
	.myheader {
		height: 320px;
	}
	.secondtext {
	    max-width: 425px;
	    width: 100%;
	}
	.container2 {
		max-width: 525px;
		width: 100%;
	}
	.second-title {
		margin-bottom: 18px;
		font-size: 16px;
	}
	.check-p-1 {
		font-size: 12px;
	}
	.blog-text {
		margin-left: 40px;
	}
	.fa-check {
		font-size: 20px;
	}
	.mainfooterdiv {
		max-width: 560px;
		width: 100%;
	}
	.emailinputs {
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		max-width: 550px;
		width: 100%;
	}
	.send {
		margin-top: 20px;
	}
	.footer-icon {
		font-size: 25px;
	}
	.footer-icons {
		max-width: 120px;
		width: 100%;
	}
	.footer-logo {
		max-width: 120px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 500px;
	}
	.footer-divs {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.firstblog-home {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}



	/*Projects*/
	.projects-container {
		max-width: 356px;
		width: 100%;
	}
	.myheader3 {
		height: 350px;
	}


	/*blog*/ 
	.firstblog {
		max-width: 400px;
		width: 100%;
	}
	.twinsvideo {
		margin-left: 45px;
	}
	.about-title {
		font-size: 30px;
	}
	.myheader4 {
		height: 400px;
	}
}

@media (max-width: 532px) {
	.twinsvideo {
		max-width: 390px;
		width: 100%;
		height: 400px;
	}

}



@media (max-width: 480px) {
	.myheader {
		background-image: url(../img/travelcationmb.png);
		background-repeat: no-repeat;
		width: 100%;
		background-size: cover;
		height: 300px;
	}
	.title {
		font-size: 45px;
	}
	.homedescription {
		font-size: 12px;
	}
	.wrap-description {
		max-width: 400px;
		width: 100%;
	}
	.secondtext {
		flex-wrap: wrap;
		max-width: 375px;
		width: 100%;
		margin: 0 auto;
		margin-top: 50px;
	}
	.wrap-description1 {
		max-width: 340px;
		width: 100%;
	}
	.firsttext {
		padding-top: 70px;
		max-width: 470px;
		width: 100%;
	}
	.container2 {
		max-width: 300px;
		margin: 0 auto;
	}
	.section3 {
		padding-top: 80px;
		max-width: 380px;
		width: 100%;
	}
	.mainfooterdiv {
		max-width: 380px;
		width: 100%;
	}



	/*Projects*/
	.projects-container {
		max-width: 356px;
		width: 100%;
	}
	.myheader3 {
		height: 300px;
	}



	/*blog*/ 
	.twinsvideo {
		max-width: 320px;
		width: 100%;
		height: 300px;
		padding-left: 30px;
	}
	.myheader4 {
		height: 300px;
	}
	.about-title {
		font-size: 25px;
		padding-left: 65px;
	}
}




@media (max-width: 440px) {
	.footer-divs {
		display: none;
	}


	/*blog*/ 
	.firstblog {
		max-width: 300px;
		width: 100%;
	}
}



@media (max-width: 400px) {
	.wraper-icons {
		max-width: 320px;
		width: 100%;
		margin: 0 auto;
	}
	.about-title {
		display: none;
	}
	.myheader3 {
		height: 250px;
	}


	/*blog*/ 
	.twinsvideo {
		max-width: 280px;
		width: 100%;
		padding-left: 20px;
	}
}




@media (max-width: 374px) {
	.myheader3 {
		height: 200px;
	}
	.wraper-projects1 {
		max-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
	.project-p1 {
		width: 250px;
	}
	.projects-container {
		max-width: 250px;
		width: 100%;
		margin: 0 auto;
	}



	/*blog*/ 
	.twinsvideo {
		max-width: 240px;
		width: 100%;
		padding-left: 0px;
		height: 280px;
	}
}



@media (max-width: 320px) {
	.myheader {
		height: 250px;
	}
	.footer-divs {
		display: none;
	}
	.maindiv3 {
		max-width: 310px;
	}
	.blog-p {
		display: none;
	}
	.blog-title {
		font-size: 18px;
	}
	.blog-1 {
		flex-wrap: wrap;
		height: 400px;
		align-items: flex-start; 
	}
	.section3 {
		max-width: 260px;
		width: 100%;
		margin: 0 auto;
	}
	.blogimg-home {
		max-width: 250px;
	}
	.blog-text {
		align-self: flex-end;
	}
	.firstblog-home {
		max-width: 280px;
		margin: 0 auto;
	}
	.project-p1-home {
		max-width: 200px;
		width: 100%;
	}
	.firsttext {
		max-width: 260px;
		width: 100%;
	}
	.title {
		font-size: 32px;
		max-width: 220px;
		width: 100%;
		margin: 0 auto;
		margin-top: 70px;
	}
	.wrap-description {
		display: none;
		max-width: 260px;
		width: 100%;
	}
	.secondtext {
		max-width: 260px;
		width: 100%;
	}
	.container2 {
		max-width: 260px;
		width: 100%;
		margin: 0 auto;
	}
	.youremail {
		max-width: 260px;
		width: 100%;
	}
	.yourmaildiv {
		margin-top: 80px;
	}
	.emailinputs {
		max-width: 260px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 260px;
		width: 100%;
	}




	/*blog*/ 
	.firstblog {
		max-width: 250px;
		width: 100%;
	}
	.myheader4 {
		height: 255px;
	}
	.twinsvideo {
		max-width: 200px;
		width: 100%;
		height: 250px;
	}
}