@media (max-width: 1124px) {
	.secondtext {
		max-width:880px;
		width: 100%;
	}
	.wrap-description {
		max-width: 470px;
		width: 100%;
	}
	.section3 {
		padding-left: 90px;
	}
	.container2 {
		max-width: 900px;
		width: 100%;
	}
	.project-title1 {
		font-size: 20px;
	}
	.project-place1-home {
		font-size: 18px;
	}
	.project-p1-home {
		font-size: 15px;
		max-width: 300px;
		width: 100%;
	}
	.project-title1 {
		max-width: 170px;
		width: 100%;
	}
	.myheader {
		background-size: contain;
	}
}

@media (max-width: 1027px) {
	.title {
		font-size: 50px;
	}
	.wrap-description {
		max-width: 400px;
		width: 100%;
	}
	.homedescription {
		font-size: 15px;
	}
	.footer-icons {
		max-width: 200px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 900px;
		width: 100%;
	}
	.myheader {
		background-size: contain;
	}
}


@media (max-width: 960px) {
	.wrap-description {
		max-width: 380px;
		width: 100%;
	}
	.homedescription {
		font-size: 14px;
	}
	.about {
		max-width: 300px;
		width: 100%;
		font-size: 50px;
	}
	.secondtext {
		max-width: 690px;
		width: 100%;
	}
	.section3 {
		padding-left: 90px;
	}
	.container2 {
		max-width: 800px;
		width: 100%;
	}
	.project-title1 {
		font-size: 20px;
	}
	.project-place1-home {
		font-size: 18px;
	}
	.project-p1-home {
		font-size: 15px;
		max-width: 300px;
		width: 100%;
	}
	.project-title1 {
		max-width: 170px;
		width: 100%;
	}
	.second-title {
		font-size: 20px;
	}
	.check-p-1 {
		font-size: 12px;
	}
	.myheader {
		background-size: contain;
	}
	.secondtext {
		margin-top: 30px;
	}
}


@media (max-width: 900px) {
	.wrap-description {
		max-width: 350px;
		width: 100%;
	}
	.homedescription {
		font-size: 13px;
	}
	.firsttext {
		padding-top: 100px;
	}
	.about {
		font-size: 50px;
	}
	.wraper-icons {
		max-width: 800px;
		width: 100%;
	}
	.secondtext {
		margin-top: -70px;
	}
	.myheader {
		background-size: contain;
	}
}


@media (max-width: 840px) {
	.wrap-description {
		max-width: 280px;
		width: 100%;
	}
	.homedescription {
		font-size: 15px;
	}
	.firsttext {
		padding-top: 80px;
	}
	.secondtext {
		max-width: 580px;
		width: 100%;
	}
	.about-projects {
		padding-left: 50px;
	}
	.myheader {
		background-size: contain;
	}
	.navigation {
		display: none;
	}
	.bar-icon {
		display: block!important;
	}
	.container {
		max-width: 840px;
		width: 100%;
	}
}


@media (max-width: 828px) {
	.title {
		font-size: 40px;
	}
	.blog-img1 {
		max-width: 
	}
	.blogimg-home {
		max-width: 300px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 760px;
		width: 100%;
	}
	.footer-p {
		font-size: 16px;
	}
	.footer-p1 {
		font-size: 16px;
	}
	.footer-title {
		font-size: 22px;
	}
}


@media (max-width: 720px) {
	.logo {
		max-width: 80px;
		width: 100%;
	}
	.bar-icon {
		font-size: 20px;
	}
	.title {
		font-size: 30px;
	}
	.homedescription {
		font-size: 13px;
	}
	.wrap-description {
		max-width: 220px;
		width: 100%;
		margin-top: 20px;
	}
	.title {
		margin-top: 60px;
	}
	.section1 {
		padding-bottom: 80px;
	}
	.firsttext {
		padding-left: 100px;
	}
	.about {
		font-size: 40px;
		max-width: 200px;
		width: 100%;
	}
	.secondtext {
		max-width: 490px;
		width: 100%;
	}
	.about-projects {
		font-size: 40px;
	}
	#icon {
		font-size: 90px;
	}
	.all-projects {
		flex-direction: column;
	}
	.wraper-project1 {
		margin-top: 40px;
	}
	.buttondiv {
		top: 97%;
	}
	.section3 {
		padding-top: 100px;
	}
	.check-p-1 {
		max-width: 180px;
		width: 100%;
	}
	.blog-title {
		font-size: 22px;
	}
	.blog-p {
		font-size: 14px;
	}
	.footer-p, 
	.footer-p1 {
		font-size: 13px;
		max-width: 140px;
		width: 100%;
	}
	.footer-title {
		font-size: 20px;
	}
	.footer-icons {
		max-width: 160px;
		width: 100%;
	}
	.wraper-icons {
		max-width: 670px;
		width: 100%;
	}
	.myheader {
		height: 500px;
	}
	.container2 {
		max-width: 580px;
		width: 100%;
	}
}




@media (max-width: 585px) {
	.wrap-description {
		max-width: 200px;
		width: 100%;
	}
	.homedescription {
		font-size: 12px;
	}
	.firsttext {
		padding-left: 70px;
		padding-top: 50px;
	}	
	.myheader {
		height: 420px;
	}
	.secondtext {
	    max-width: 425px;
	    width: 100%;
	}
		.container2 {
		max-width: 525px;
		width: 100%;
	}
	.second-title {
		margin-bottom: 18px;
		font-size: 16px;
	}
	.check-p-1 {
		font-size: 12px;
	}
	.blog-text {
		margin-left: 40px;
	}
	.fa-check {
		font-size: 20px;
	}
	.mainfooterdiv {
		max-width: 560px;
		width: 100%;
	}
}
